* {
  margin: 0;
  padding: 0;
}

/* PARA QUE A IMAGEM RESPEITE UM TAMANHO MAXIMO */
img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

/* Inicio dos estilos */

body {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}


/* NAVEGAÇÃO */
.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.menu li a:hover{
  color: white;
  font-weight: bold;
  transition: 0.6s;
}

/* Grid-Section */

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais-descricao h2 {
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animais-descricao p {
  font-family: Helvetica;
  line-height: 1.2;
  margin-bottom: 1rem;
}